# matrix exponentiation

# this is an easy example that uses matrix exponentiation 
# by varying the exponent and matrix size

[settings]
frequency = 10
h =         0.01
directory = /home

[components]
    [component.matrix-exp]
    src =   /home/nvidia/samples/matrixmulexp/build/MatrixMulSh2
    range = 256, 4096, pow(2)   # matrix size
    range = 20, 60, 10          # exponent size
